/* INICIO */

body{
    margin: 0 ;
    
    h1 {
    font-size: 3em;  
    background-color: #F1DEE2;
    color: #569391;
    text-align: center;
    font-family: 'open sans';
    margin-top: 20px;
  }

   
    h2{font-size: 2em;}

    h3{font-size: 1.5em;}

    p{font-size: 1em;}

    ul{ list-style: none;}
}  


 /* PREPARACIONES DE RECETAS */
.preparaciones{
  .ñoquis{
    margin: 40px;
  }

  .budin{
    margin: 40px;
  }

  .guiso{
    margin: 40px;
  }

  .peras{
    margin: 40px;
  }
  
}

